.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  margin: 15px 40px;
  border: 2px solid #706d6d;
  border-radius: 10px;
  gap: 16px;
}

.title {
  font-size: 16px;
  color: #333;
}

.title.completed {
  color: #999;
  text-decoration: line-through;
}

.itemButtons {
  display: flex;
  gap: 8px;
}

.bnt_compl {
  padding: 6px 15px;
  font-size: 14px;
  color: #fff;
  background-color: #07bb10;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.bnt_compl:hover {
  background-color: #0a610e;
}

.bnt_del {
  padding: 6px 15px;
  font-size: 14px;
  color: #fff;
  background-color: #bb0707;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.bnt_del:hover {
  background-color: #720404;
}
