.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-link {
  color: #61dafb;
}

.completed_todo {
  color: greenyellow;
}

.uncompleted_todo {
  color: red;
}
