.loader {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 2px dashed gainsboro;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) scale(0.8);
  }
  to {
    transform: rotate(360deg) scale(1.2);
  }
}
