.filter {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.filter_btn {
  padding: 6px 15px;
  font-size: 14px;
  color: #fff;
  background-color: #b930db;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.filter_btn:hover {
  background-color: #701686;
}

.filter_btn.active {
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #5d106d;
  pointer-events: none;
}
