.add_form {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
  justify-content: center;
}

.add_input {
  padding: 10px 14px;
  font-size: 14px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
}
.add_input:focus {
  border-color: #b930db;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}

.add_button {
  padding: 6px 15px;
  font-size: 14px;
  color: #fff;
  background-color: #b930db;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.add_button:hover {
  background-color: #701686;
}
